<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfinalproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash_icon"
        android:label="To Do List"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.MyFinalProject">
        <activity
            android:name=".ImportantTask"
            android:exported="false" />
        <activity
            android:name=".LaterActivity"
            android:exported="false" />
        <activity
            android:name=".Done"
            android:exported="false" />
        <activity
            android:name=".Test_Calendar"
            android:exported="false" />
        <activity
            android:name=".task_detailes"
            android:exported="false" />
        <activity
            android:name=".splashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".New_Task"
            android:exported="false" />
        <activity
            android:name=".Home_Daily"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".CreateAccount"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>